@model IEnumerable<LabourTimeTable.Models.DashboardAbsent>
@{
    ViewBag.Title = "Absent Dashboard";
    Layout = null;
}
@{
    var grid = new WebGrid(Model, canPage: true, canSort: false, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.All);
}


<div class="table-responsive">
    @grid.GetHtml(tableStyle: "table table-striped table-bordered table-hover dataTable no-footer dtr-inline",
                                mode: WebGridPagerModes.All,
                                htmlAttributes: new { id = "grid" },
                                firstText: "First",
                                previousText: "Prev",
                                nextText: "Next",
                                lastText: "Last",
                                footerStyle: "table-pager",
                                columns: grid.Columns(
                                grid.Column(header: "No.", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                                * grid.RowsPerPage * grid.PageIndex),
                                grid.Column("Firstname", "Employee Name"),
                                grid.Column("Date", format: (item) => string.Format("{0:dd/MM/yyyy}", item.Date))
                                ))

</div>
<style>
    .table-responsive table {
        border-collapse: collapse;
        border: 1px solid #ccc;
    }

        .table-responsive table th {
            background-color: #B8DBFD;
            border: 1px solid #ccc;
        }

            .table-responsive table th td {
                border: 1px solid #ccc;
            }
</style>
